body {
  background-image: url("https://s-media-cache-ak0.pinimg.com/736x/bf/cb/85/bfcb854c82b4b3fecbf9b5c8d9269f40.jpg");
}

.sticky {
  height: 500px;
  width: 500px;
  border: 1px solid black;
  background-color: white;
  position: absolute;
}

.glyphicon-plus {
  margin: 30px;
  height: 80px;
  width: 80px;
}

.sticky button {
  display: none;
}

.sticky:hover button {
  display: block;
}

h1 {
  font-size: small;
}

textarea {
  height: 200px;
}
